<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">GOST</th>
                <th scope="col">TYPE</th>
                <th scope="col">MODEL_URL</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let gost of gosts">
                <th>{{gost.ID}}</th>
                <td>{{gost.GOST}}</td>
                <td>{{gost.TYPE}}</td>
                <td>{{gost.MODEL_URL}}</td>
                <td><button class="btn btn-success" (click)= "getTypeGOSTS(gost)">Выбрать</button></td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">GOST_ID</th>
                <th scope="col">NUMBER</th>
                <th scope="col">d mm</th>
                <th scope="col">D mm</th>
                <th scope="col">B mm</th>
                <th scope="col">r mm</th>
                <th scope="col">r1 mm</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let TypeGost of TypeGosts">
                <th>{{TypeGost.GOST}}</th>
                <td>{{TypeGost.NUMBER}}</td>
                <td>{{TypeGost._d}}</td>
                <td>{{TypeGost.D}}</td>
                <td>{{TypeGost.B}}</td>
                <td>{{TypeGost.r}}</td>
                <td>{{TypeGost.r1}}</td>
                <td><button class="btn btn-primary" (click)= "insertFile(TypeGost)">Вставить</button></td>
            </tr>
        </tbody>
    </table>
</div>